
* {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    padding-bottom: 64px;
}

body  {
    font-family: DM Sans, sans-serif;
    background-color: #FFF8F7;
    display: flex;
    flex-direction: column;
}

body.gradient-bg {
    background: radial-gradient(166.95% 190.8% at -10.57% 25.76%, rgba(255, 207, 236, 0.60) 0%, rgba(255, 207, 236, 0.00) 50%), radial-gradient(159.7% 159.7% at 96.64% 9.6%, rgba(255, 207, 175, 0.40) 0%, rgba(255, 207, 175, 0.00) 40%), radial-gradient(216.42% 162.32% at 65.55% 92.17%, rgba(228, 214, 255, 0.40) 0%, rgba(228, 214, 255, 0.00) 45%);

}

.nav-bar {
    display: flex;
    width: 100%;
    padding: 8px 20px 34px 20px;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid var(--Light-berry, rgba(141, 38, 97, 0.10));
    background: var(--Nav-Bar-Fill, rgba(255, 248, 247, 0.80));
    backdrop-filter: blur(12px);
}

nav { 
    display: flex;
    padding: 0 0 8px 0;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.nav-button {
    display: flex;
    min-width: 52px;
    min-height: 52px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.nav-button.selected {
    color: var(--Berry, #8D2661);
    text-align: center;
    /* Body 3 Bold, 10 Bold 15LH */
    font-family: "DM Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; 
}

.nav-button img {
    width: 32px;
    height: 32px;
}

.add-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    min-width: 52px;
    min-height: 52px;
    text-decoration: none;
    color: var(--Black-text, #2B1C26);
}

.add-button img {
    display: flex;
    width: 56px;
    height: 56px;
    position: relative;
    top: -24px;
    margin-bottom: -24px;
}

nav a {
    text-decoration: none;
    color: var(--Black-text, #2B1C26);
    text-align: center;
    /* Body 3 Med, 10 Med 15LH */
    font-family: "DM Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    margin: 0;
}

.header-content {
    background: radial-gradient(166.95% 190.8% at -10.57% 25.76%, rgba(255, 207, 236, 0.60) 0%, rgba(255, 207, 236, 0.00) 50%), radial-gradient(159.7% 159.7% at 96.64% 9.6%, rgba(255, 207, 175, 0.40) 0%, rgba(255, 207, 175, 0.00) 40%), radial-gradient(216.42% 162.32% at 65.55% 92.17%, rgba(228, 214, 255, 0.40) 0%, rgba(228, 214, 255, 0.00) 45%);
    display: flex;
    width: 100%;
    padding: 70px 20px 24px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.header-content-login {
    display: flex;
    width: 100%;
    padding: 70px 20px 32px 20px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.header-text {
    text-align: center;
}

.body-1-reg {
    align-self: stretch;
    color: var(--Brown-text, #654D5C);
    /* Body 1 Reg, 14 Reg 20LH */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    margin: 0;
}

h1 { 
    align-self: stretch;
    color: var(--Black-text, #2B1C26);
    /* H1, 24 Bold 32LH -0.6px */
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.6px;
    margin: 0;
}

.overview {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
    padding: 16px 20px;
    width: 100%;
    align-items: stretch;
}

.body-2-reg {
    align-self: stretch;
    color: var(--Brown-text, #654D5C);
    /* Body 2, 12 Reg 16LH */
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    margin: 0;
}

.overview-card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    border: 1px solid var(--Card-Stoke, rgba(250, 233, 240, 0.50));
    background: var(--White, #FFF);
    box-shadow:
        0 2px 15px -1px rgba(100, 100, 111, 0.12),
        0 1px 2px -1px rgba(100, 100, 111, 0.08);

    backdrop-filter: blur(6px);
    gap: 0;
} 


.overview-number {
    align-self: stretch;
    margin-top: 12px;
    margin-bottom: 0; 
    color: var(--Black-text, #2B1C26);
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
}

.recommended-section { 
    display: flex;
    padding: 16px 20px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;

    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    padding: 16px 0;
}

.carousel-card {
    flex: 0 0 176px;
    width: 176px;

    display: flex;
    flex-direction: column;

    border-radius: 16px;
    overflow: hidden;

    border: 1px solid var(--Card-Stoke, rgba(250, 233, 240, 0.50));
    background: var(--White, #FFF);
    /* Card shadow */
    box-shadow: 0 2px 15px -1px rgba(100, 100, 111, 0.12), 0 1px 2px -1px rgba(100, 100, 111, 0.08);
    backdrop-filter: blur(6px);
}

.carousel-image {
    width: 100%;
    height: 132px;
    overflow: hidden;
}

.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carousel-content {
    padding: 12px;
}

.brand-name {
    align-self: stretch;
    color: var(--Berry, #8D2661);
    /* Body 3 Med, 10 Med 15LH CAPS */
    font-family: "DM Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    align-self: stretch;
    color: var(--Black-text, #2B1C26);
    /* H3, 16 SemiBold 24LH */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    margin: 0;
}

.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-description {
    color: var(--Brown-text, #654D5C);
    /* Body 2, 12 Reg 16LH */
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    margin-top: 2px;
}

h2 { 
    color: var(--Black-text, #2B1C26);
    /* H2, 18 SemiBold 28LH */
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    margin: 0;
}

.view-all {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: var(--Berry, #8D2661);
}

.pink-link-text {
    color: var(--Berry, #8D2661);
    text-align: center;
    /* Body 2 Med, 12 Med 16LH */
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
    text-decoration: none;
}

.section { 
    display: flex;
    padding: 16px 20px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 16px;
}

.insight-content { 
    display: flex;
    padding: 16px;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--Card-Stoke, rgba(250, 233, 240, 0.50));
    background: var(--White, #FFF);
    /* Card shadow */
    box-shadow: 0 2px 15px -1px rgba(100, 100, 111, 0.12), 0 1px 2px -1px rgba(100, 100, 111, 0.08);
    backdrop-filter: blur(6px);
}

.insight-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
} 

.products-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.product-card {
    display: flex;
    flex-direction: row;
    padding: 16px;
    align-items: stretch;
    gap: 16px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--Card-Stoke, rgba(250, 233, 240, 0.50));
    background: var(--White, #FFF);
    /* Card shadow */
    box-shadow: 0 2px 15px -1px rgba(100, 100, 111, 0.12), 0 1px 2px -1px rgba(100, 100, 111, 0.08);
    backdrop-filter: blur(6px);
}

.rec-product-card {
    display: flex;
    flex-direction: row;
    padding: 16px;
    align-items: stretch;
    justify-content: space-between;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--Card-Stoke, rgba(250, 233, 240, 0.50));
    background: var(--White, #FFF);
    /* Card shadow */
    box-shadow: 0 2px 15px -1px rgba(100, 100, 111, 0.12), 0 1px 2px -1px rgba(100, 100, 111, 0.08);
    backdrop-filter: blur(6px);
}

.product-card-content {
    display: flex;
    gap: 16px;
    align-self: stretch;
}

.product-image {
    position: relative;
    width: 81px;
    height: 81px;
    border-radius: 20px;
    flex-shrink: 0;
}

.rec-product-image {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 20px;
    flex-shrink: 0;
}

.product-image img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.rec-product-image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-description {
    margin-top: 4px;
}

.product-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
    margin-top: 8px;
}

.loved-tag {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    border-radius: 1000px;
    background: var(--Loved-tag-fill, #FFBDE1);
}

.loved-tag-text {
    color: var(--Loved-tag-text, #651643);
    /* Body 3 Med, 10 Med 15LH */
    font-family: "DM Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    margin: 0;
}

.liked-tag {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    border-radius: 1000px;
    background: var(--Liked-tag-fill, #BEF9C7);
}

.liked-tag-text {
    color: var(--Liked-tag-font, #22640D);
    /* Body 3 Med, 10 Med 15LH */
    font-family: "DM Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    margin: 0;
}

.neutral-tag {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    border-radius: 1000px;
    background: var(--Neutral-tag-fill, #EFE2D8);
}

.neutral-tag-text {
    color: var(--Neutral-tag-font, #625245);
    /* Body 3 Med, 10 Med 15LH */
    font-family: "DM Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    margin: 0;
}

.disliked-tag {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    border-radius: 1000px;
    background: var(--Disliked-tag-fill, #FFCFAF);
}

.disliked-tag-text {
    color: var(--Disliked-tag-text, #713408);
    /* Body 3 Med, 10 Med 15LH */
    font-family: "DM Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    margin: 0;
}

.never-tag {
    display: flex;
    padding: 2px 6px;
    align-items: center;
    border-radius: 1000px;
    background: var(--Never-Again-Fill, #FFB4B3);   
}

.never-tag-text {
    color: var(--Never-Again-Font, #750016);
    /* Body 3 Med, 10 Med 15LH */
    font-family: "DM Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    margin: 0;
}


.product-type {
    color: var(--Brown-text, #654D5C);
    /* Body 3 Med, 10 Med 15LH */
    font-family: "DM Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    margin: 0;
}

.rating-tag { 
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 2px 6px;
    border-radius: 10000px;
    background: var(--Light-berry, rgba(141, 38, 97, 0.10));
}

.repurchase-tag {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 2px 6px;
    border-radius: 10000px;
    background: var(--Light-berry, rgba(141, 38, 97, 0.10));
}

.tag-text {
    color: var(--Berry, #8D2661);
    /* Body 3 Med, 10 Med 15LH */
    font-family: "DM Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    margin: 0;
}

.beauty-summary-card {
    display: flex;
    padding: 16px;
    margin-top: 24px; 
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--Card-Stoke, rgba(250, 233, 240, 0.50));
    background: var(--White, #FFF);
    /* Card shadow */
    box-shadow: 0 2px 15px -1px rgba(100, 100, 111, 0.12), 0 1px 2px -1px rgba(100, 100, 111, 0.08);
    backdrop-filter: blur(6px);
}
.beauty-summary-top {
    display: flex; 
    flex-direction: row;
    gap: 12px;
}

.summary-text {
    gap: 0p;
}

.beauty-summary-top img {
    height: 48px;
    width: 48px;
}

.beauty-summary-bottom {
    margin-top: 8px;
}


.bold-pink-text {
    color: var(--Berry, #8D2661);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
 line-height: 20px;
}

.all-insights {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
    width: 100%;
}

.insights-card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    border: 1px solid var(--Card-Stoke, rgba(250, 233, 240, 0.50));
    background: var(--White, #FFF);
    box-shadow:
        0 2px 15px -1px rgba(100, 100, 111, 0.12),
        0 1px 2px -1px rgba(100, 100, 111, 0.08);

    backdrop-filter: blur(6px);
    gap: 4px;
} 

.insights-card img {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}

.insights-card h3 {
    min-height: 48px;
    max-width: 80%;
}

.trigger-card {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--Card-Stoke, rgba(250, 233, 240, 0.50));
    background: var(--White, #FFF);
    /* Card shadow */
    box-shadow: 0 2px 15px -1px rgba(100, 100, 111, 0.12), 0 1px 2px -1px rgba(100, 100, 111, 0.08);
    backdrop-filter: blur(6px);
}

.trigger-tag-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
    width: 100%;
}

.trigger-tag {
    padding: 12px; 
    border-radius: 20px;
    background: var(--Red-trigger-cards-fill, rgba(204, 36, 61, 0.10));
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.trigger-tag img {
    width: 16px;
    height: 16px;
}

.trigger-tag p {
    display: flex; 
    flex-direction: column;
    color: var(--Red-Trigger-cards-text, #CC243D);
    /* Body 2 Med, 12 Med 16LH */
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
    margin: 0;
    width: 56px;
}

.ai-picks-tag {
    display: flex;
    padding: 4px 12px;
    flex-direction: column;
    align-items: center;
    border-radius: 16777200px;
    background: var(--Light-berry, rgba(141, 38, 97, 0.10));

    color: var(--Berry, #8D2661);
    /* Body 2 Med, 12 Med 16LH */
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
}

.save-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-self: flex-start;
}

.save-button img {
    width: 32px;
    height: 32px;
}


.large-match-tag {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 50px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 16777200px;
    border: 1.5px solid var(--Berry, #8D2661);
    background: var(--White, #FFF);
    color: var(--Berry, #8D2661);
    /* Body 2 Bold, 12 Bold 16LH */
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    margin: 0; 
}

.small-match-tag {
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    padding: 2px 4px;
    justify-content: center;
    align-items: center;
    border-radius: 16777200px;
    border: 1px solid var(--Berry, #8D2661);
    background: var(--White, #FFF);
    color: var(--Berry, #8D2661);
    /* Body 3 Bold, 10 Bold 15LH */
    font-family: "DM Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; 
    margin: 0; 
}

.tab-filter {
    margin-top: 16px;
    display: flex;
    height: 56px;
    padding: 5px 4px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 30px;
    border: 1px solid var(--Card-Stoke, rgba(250, 233, 240, 0.50));
    background: var(--White, #FFF);
    /* Card shadow */
    box-shadow: 0 2px 15px -1px rgba(100, 100, 111, 0.12), 0 1px 2px -1px rgba(100, 100, 111, 0.08);
    backdrop-filter: blur(6px);
}

.tab-button.active, 
.big-pink-button {
    display: flex;
    width: 100%;
    height: 46px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    background: var(--Berry, #8D2661);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
    text-decoration: none;
    color: var(--Light-Peach-Background, #FFF8F7);
    /* Body 1 Med, 14 Med 20LH */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}

.tab-button {
    display: flex;
    width: 100%;
    height: 46px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: none;
    text-decoration: none;
    color: var(--Brown-text, #654D5C);
    /* Body 1 Med, 14 Med 20LH */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}

.search-filter-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.search-bar, .login-input {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 12px 16px;
    border-radius: 20px;
    border: 1px solid var(--Input-Field-Stroke, rgba(141, 38, 97, 0.50));
    background: var(--White, #FFF);
    /* Card shadow */
    box-shadow: 0 2px 15px -1px rgba(100, 100, 111, 0.12), 0 1px 2px -1px rgba(100, 100, 111, 0.08);
    backdrop-filter: blur(6px);
}

.message {
    align-self: stretch;
    margin: 0;
    color: var(--Red-Trigger-cards-text, #CC243D);
    /* Body 2 Med, 12 Med 16LH */
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

.login-input.input-invalid {
    border: 1px solid var(--Red-Trigger-cards-text, #CC243D);
}

.login-input:not(.input-invalid):focus-within {
    border-color: var(--Berry, #8D2661);
}

.search-bar:focus-within, 
.login-input:focus-within {
    border-color: var(--Berry, #8D2661);
}

.search-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.clear-button {
    width: 16px;
    height: 16px;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-bar input, 
.login-input input  {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: var(--Black-text, #2B1C26);
    /* Body 1 Reg, 14 Reg 20LH */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    margin: 0;
}

.search-bar input::placeholder, 
.login-input input::placeholder  {
    color: var(--Brown-text, #654D5C);
}

.library-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.results-count {
    color: var(--Brown-text, #654D5C);
    /* Body 1 Reg, 14 Reg 20LH */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    margin: 0; 
}

.sort-by-filter {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: var(--Black-text, #2B1C26);
    margin: 0;
}

.sort-by-filter img {
    width: 16px;
    height: 16px;
}

.saved-empty {
    display: flex;
    padding: 48px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.saved-empty img {
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
}

.saved-empty-text {
    color: var(--Brown-text, #654D5C);
    /* Body 1 Reg, 14 Reg 20LH */
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    margin: 0;
    text-align: center;
}

.logo {
    width: 64px;
    height: 64px;
}

.login-input img {
    width: 16px; 
    height: 16px;
}

#login, 
#signup { 
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 16px;
}

label {
    color: var(--Black-text, #2B1C26);
    /* H2, 18 SemiBold 28LH */
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    margin: 0px;
}

.login-field {
    display: flex; 
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.login-signup-card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--Card-Stoke, rgba(250, 233, 240, 0.50));
    background: var(--White, #FFF);
    /* Card shadow */
    box-shadow: 0 2px 15px -1px rgba(100, 100, 111, 0.12), 0 1px 2px -1px rgba(100, 100, 111, 0.08);
    backdrop-filter: blur(6px);
    gap: 24px;
}

.forgot-password {
    text-decoration: none;
    color: var(--Berry, #8D2661);
}

/*.divider {
    height: 1px;
    border-top: 1px solid var(--Card-Stoke, rgba(250, 233, 240, 0.50));
    width: 80%;
} */

.divider {
    height: 1px;
    width: 100%;
    border-top: 1px solid var(--Input-Field-Stroke, rgba(141, 38, 97, 0.50));
}

.login-description {
    text-align: center;
    width: 100%;
}